<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, internal-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>{% block title %}{% endblock %} - XR18Rec</title>
</head>
<body>
  <main>
    {% block main %}{% endblock %}
  </main>
  <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  {% block script %}{% endblock %}
</body>
</html>